.contact {
	&__title-container {
		margin: ($unitX * 2) 0;
	}
	&__title {
		@extend %title;
	}
	&__subtitle {
		@extend %subtitle;
	}
	&__contact-method-container {
		display: flex;
		flex-wrap: wrap;
		justify-content: space-around;		
	}
	&__method-item {
		display: flex;
		flex-direction: column;
		text-align: center;
		@include desktop {
			width: 25%;
			padding: 0 1%;	
			margin-bottom: $unitX * 3;
		}
		@include tablet {
			width: 50%;	
			padding: 0 1%;
			margin-bottom: $unitX * 2;
		}
		@include mobile {
			width: 100%;	
			padding: 0 2%;
			margin-bottom: $unitX * 1.5;
		}		
	}

	&__form-container {
		display: flex;
		flex-direction: column;
		align-items: stretch;
	}
}

.contact-method {
	display: flex;
	align-self: center;
	flex-direction: column;
	&__image-container {
		align-self: center;
		border-radius: 50%;
		@include desktop {
			width: 150px;	
			height: 110px;
		}
		@include tablet {
			width: 120px;	
			height: 90px;	
		}
		@include mobile {
			width: 120px;	
			height: 70px;
		}		
	}
	&__image {
		@include desktop {
			color: $colorPrimary;
			font-size: $fontSize * 6;
		}
		@include tablet {
			color: $colorPrimary;
			font-size: $fontSize * 5;
		}
		@include mobile {
			color: $colorPrimary;
			font-size: $fontSize * 4;
		}	
	}
	&__caption {
		margin-top: $unitX / 2;
		text-align: center;
	}
}

.form {
	&__label {
		display: block;
		text-align: center;
		@include desktop {
			margin-top: $unitX;
		}
		@include tablet {
			margin-top: $unitX;
		}
		@include mobile {
			margin-top: $unitX;
		}	
	}
	&__input {
		width: 100%;
		display: block;
		background-color: $colorLight;
		border: 0;
		height: $unitX * 3;
		padding: $unitX / 2;
		font-size: $fontSize;
	}
	&__textarea {
		width: 100%;
		display: block;
		background-color: $colorLight;
		border: 0;
		padding: $unitX / 2;
		font-size: $fontSize;
	}
	&__button {
		margin: $unitX auto ($unitX * 2) auto;
		display: block;
		background-color: $colorPrimary;
		border: 0;
		padding: $unitX 0;
		width: 150px;
		border-radius: 2px;
		font-size: $fontSize * 1.2;
		color: $colorLight;
	}
}