.main-menu {
	width: 100%;
	display: flex;
	flex-direction: column;
	align-items: center;

	&__logo {
		margin: ($unitX * 1.5) 0 ($unitX / 2) 0;
		@include mobile {
			margin: $unitX 0 0 0;
		}
	}
	&__image {
		width: 98.5px;
		height: 100px;
		@include mobile {
			width: 65px;
			height: 66px;
		}
	}
	&__navigation {

	}
}

.navigation {
	list-style-type: none;
	text-align: center;
	margin: ($unitX / 2) 0;

	&__item {
		width: 120px;
		padding: ($unitX / 2);
		display: inline-block;
		background-color: transparent;
		@include tablet {
			width: 90px;
		}
		@include mobile {
			display: block;
			margin: 0;
		}
		&:hover {
			width: 120px;
			background-color: $colorAccent;
			@include tablet {
				width: 90px;
			}			
			@include mobile {
				display: block;
				margin: 0;
			}
		}
	}
	
	/* 
	&__item {
		margin: ($unitX / 2) ($unitX);
		padding: ($unitX / 2);
		display: inline;
		background-color: transparent;
		@include tablet {
			margin: ($unitX / 2) ($unitX / 2);
		}		
		@include mobile {
			display: block;
			margin: 0;
		}
		&:hover {
			margin: ($unitX / 2) ($unitX);
			padding: ($unitX / 2);
			display: inline;
			transition: background-color 0.1s ease-out;
			background-color: $colorAccent;
			@include tablet {
				margin: ($unitX / 2) ($unitX / 2);
			}		
			@include mobile {
				display: block;
				margin: 0;
			}
		}
	}
	*/
	&__link {
		@include font( ($fontSize * .875), $colorLight);
		text-decoration: none;
	}

}