.portfolio {
	&__title-container {
		margin: ($unitX * 2) 0;
	}
	&__title {
		@extend %title;
	}
	&__subtitle {
		@extend %subtitle;
	}

	&__row1 {
		// margin-top: $unitX * 2;
		display: flex;
		flex-wrap: wrap;
	}
	&__group-title {
		display: flex;
		justify-content: center;
		@include desktop {
			text-align: right;
			justify-content: flex-end;
			padding-right: 0;
		}
		@include tablet {
			margin-bottom: $unitX;
		}
		@include mobile {
			margin-bottom: ($unitX / 2);
		}
	}
	&__subtitle--withline {
		@extend %withline;
		@include desktop {
			padding: 0 ($unitX / 2) ($unitX / 2);
			// border-right: 5px solid $colorPrimary;
			// border-left: 0px solid $colorPrimary;
			border-bottom: 0px solid $colorPrimary;
		}
		@include tablet {
			padding-bottom: 2px;
		}
		@include mobile {
			padding-bottom: 2px;
		}
	}
	&__projects-container {
	}
	&__single-project {
		@include tablet {
			margin-bottom: $unitX;
		}
		@include mobile {
			margin-bottom: $unitX;
		}
		@include desktop {
			margin-bottom: $unitX * 2;
		}

	}
}

.single-project {
	position: relative;
	&__image {
		height: auto;
		width: 100%;
		border: 2px solid $colorLight;
	}
	&__more-info {
		display: none;
		padding: 3px;
		position: absolute;
		left: 0;
		right: 0;
		text-align: center;
		@include mobile {
			font-size: 20px;
			top: 107px;
		}
		@include tablet {
			font-size: 24px;
			top: 142px;
		}
		@include desktop {
			font-size: 16px;
			top: 72px;
		}
		color: $colorDark;
		background-color: $colorAccent;
		> a {
			text-decoration: none;
			color: $colorDark;
		}
	}
	&__technology {
		display: none;
		background-color: $colorDark;
		position: absolute;
		right: 10px;
		left: 0;
		right: 0;
		text-align: center;
		@include mobile {
			top: 140px;
		}
		@include tablet {
			top: 180px;
		}
		@include desktop {
			top: 100px;
		}
	}
	&__icon {
		@extend %devicons;
		font-size: 35px;
		color: $colorAccent;
	}
	&:hover {
		.single-project__more-info {
			display: block;
		}
		.single-project__technology {
			display: block;
		}
	}
}