.portfolio {
	&__title-container {
		margin: $unitX 0;
	}
	&__title {
		@extend %title;
	}
	&__subtitle {
		@extend %subtitle;
	}

	&__row1 {
		display: flex;
	}
	&__subtitle--withline {
		@extend %withline;
		@include desktop {
			text-align: right;
			padding-right: ($unitX / 2);
			justify-content: flex-end;
			border-right: 5px solid $colorPrimary;
			border-left: 0px solid $colorPrimary;
			border-bottom: 0px solid $colorPrimary;
		}
	}
	&__projects-container {
	}
	&__single-project {

	}
}

.single-project {
	&__image {
		height: auto;
		width: 100%;
	}
}